body {
  font-family: 'Montserrat', cursive;
}

section, :before, :after {
  position: absolute;
  transform-style: preserve-3d;
  background: currentColor;
}

.block {
  top: 50%;
  left: 50%;
  transform: rotateX(-35deg) rotateY(-45deg);
}

.block:nth-child(1) {
  margin-left: -17.5em;
  color: #f90cae;
}

.block:nth-child(1) .vis {
  animation-delay: 0s;
}

.block:nth-child(2) {
  margin-left: -13.125em;
  color: #da0cae;
}

.block:nth-child(2) .vis {
  animation-delay: -0.1666666667s;
}

.block:nth-child(3) {
  margin-left: -8.75em;
  color: #bb0cae;
}

.block:nth-child(3) .vis {
  animation-delay: -0.3333333333s;
}

.block:nth-child(4) {
  margin-left: -4.375em;
  color: #9c0cae;
}

.block:nth-child(4) .vis {
  animation-delay: -0.5s;
}

.block:nth-child(5) {
  margin-left: 0em;
  color: #7d0cae;
}

.block:nth-child(5) .vis {
  animation-delay: -0.6666666667s;
}

.block:nth-child(6) {
  margin-left: 4.375em;
  color: #5d0cae;
}

.block:nth-child(6) .vis {
  animation-delay: -0.8333333333s;
}

.block:nth-child(7) {
  margin-left: 8.75em;
  color: #3e0cae;
}

.block:nth-child(7) .vis {
  animation-delay: -1s;
}

.block:nth-child(8) {
  margin-left: 13.125em;
  color: #1f0cae;
}

.block:nth-child(8) .vis {
  animation-delay: -1.1666666667s;
}

.block:nth-child(9) {
  margin-left: 17.5em;
  color: #000cae;
}

.block:nth-child(9) .vis {
  animation-delay: -1.3333333333s;
}

.vis {
  animation: s 1s ease-in-out infinite alternate;
}

.vis, .vis:before, .vis:after {
  width: 1.75em;
  height: 1.75em;
  content: "";
}

.vis:before {
  transform: rotateY(90deg) translate3d(0.875em, 0, 0.875em);
  filter: brightness(1.3);
}

.vis:after {
  transform: rotateX(90deg) translate3d(0, -0.875em, 0.875em);
  filter: brightness(1.6);
}

.cssAnimation {
  position: absolute;
  top: 30%;
  left: 400px;
  text-align: left;
  /*transform: translateY(-50%);*/
}

.card {
  width: 500px;
  height: 300px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /*margin-left:50%;*/
  margin-top: 80px;
  background: #EDEDED;
  text-align: center;
}

h1 {
  /*   font-family: "Open Sans Condensed", sans-serif; */
  text-align: center;
}

.two span {
  margin-top: 20%;
  background: #EDEDED;
  padding: 0 30px;
}

.two+p {
  border-top: solid 1px #EDEDED;
  padding-top: 2.5em;
  margin-top: -2.5em;
}

#legend {
  margin-left: 50px;
}

.grid-container {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 60px 100px 100px 100px;
  grid-gap: 20px;
}

.item1 {
  grid-template-columns: 20px 90px;
  display: grid;
}

.square {
  width: 20px;
  height: 20px;
}

.zero {
  background: black;
}

.first {
  background: rgb(0, 71, 171);
}

.second {
  background: rgb(218, 165, 32);
}

/*.Group{
margin-left:20px;
}*/
.mainColumn {
  width: 500px;
  background-color: #fff;
  text-align: center;
}

@keyframes s {
  to {
    transform: scaleY(8);
  }
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*# sourceMappingURL=cssanimation.css.map */
