
/*https://github.com/kaustubhmenon/animation-library*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #CBE1EF;
}
.headercontainer {
  width: auto;
  text-align: center;
}
.container {
  width: auto;
  height: 90px;
}

canvas {
  display: block;
}

.row {
  margin-top: 50px;
}

.column {
  float: right;
  width: 33.3%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div[class*=container] {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 { background: #CBE1EF; margin-top: 50px;}
.btn {

  cursor: pointer;
  position: relative;
  font-weight:bold;
  color: black;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;

}
span {
  transition: all 0.3s;
  tranform: scale(1, 1);
  z-index: 10;
  position: relative;

}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: grey;
}


/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
	height: 100%;
  bottom: 0;
	left: 0;
	z-index: 1;
  transition: all 0.3s;
  border: 3px solid rgba(0, 0, 0, 0.5);
  /*color: black;
  background-color: grey;*/
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.btn-normal{
  border: 3px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-left: 30%;
  margin-right: 30%;

  color: black;
  width: 210px;
  height: 64px;
  line-height: 64px;
}
.row2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: : 50px;
}

.step {
  display: none;
}
.step.active {
  display: block;
}
/*.nextButton{
  color: black;
  font-weight:bold;
  z-index: 10;
  position: relative;
}*/

.SadHover:hover{
  filter: invert(60%) sepia(38%) saturate(544%) hue-rotate(305deg) brightness(100%) contrast(88%);

}
.NeutralHover:hover{
  filter: invert(84%) sepia(8%) saturate(1773%) hue-rotate(158deg) brightness(101%) contrast(98%);
}
.HappyHover:hover{
  filter: invert(78%) sepia(39%) saturate(336%) hue-rotate(10deg) brightness(104%) contrast(103%);
}
